/* 폰트 불러오기 */
@font-face {
  font-family: 'GmarketSans';
  src: url('./fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('./fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('./fonts/GmarketSansBold.otf') format('opentype');
  font-weight: 700;
}

/* 배경색 및 폰트 적용 */
body {
  background-color: #F0F0F0;
  font-family: 'GmarketSans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 1080px;
  background-color: #1B691B;
  color: white;
}

.timetable-container {
  width: 955px;
  height: 280px;
  border: 1px solid #000;
  margin-top: 40px;
  position: relative;
  background-color: #69CC69;
  overflow-y: auto; /* 긴 텍스트를 위한 스크롤 바 추가 */
}

.timetable-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.line {
  width: 955px;
  height: 1px;
  background-color: #000;
  margin-top: 20px;
}

.HeadLine {
  width: 955px;
  height: 1px;
  background-color: #000;
}

.headline {
  margin-top: 90px;
  font-size: 2rem;
}

.slider-container {
  width: 684px;
  height: 968px;
  margin: 20px 0;
  position: relative;
}

.slick-slide img {
  width: 684px;
  height: 968px;
  object-fit: cover;
  margin: 0 10px;
}

.slick-slide {
  transform: scale(0.85);
  transition: transform 0.5s ease;
}

.slick-center {
  transform: scale(1);
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: black;
}
